<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Momentum-dashboard/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ /Momentum-dashboard/index.html [L]
</IfModule>
